[%- MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl
%]>|https://fastapi.metacpan.org/source/BKB/HTML-Make-[% info.version
%]/examples/[% pl %]> in the distribution.)  
[%- END -%]
[%- MACRO hexample(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

=begin html

<p>As HTML this looks like this:</p>

[% INCLUDE $out %]

=end html

(This example is included as L<F<[% pl
%]>|https://fastapi.metacpan.org/source/BKB/HTML-Make-[% info.version
%]/examples/[% pl %]> in the distribution.)  
[%- END -%]
[%- MACRO since(what,version) BLOCK -%]
🎲 This [% what %] was added in version [% version %].
[%- END -%]
[%- start_year=2012 -%]

=encoding UTF-8

=head1 NAME

HTML::Make - A flexible HTML generator

=head1 SYNOPSIS

[% hexample("synopsis") %]

=head1 VERSION

This documents HTML::Make version [% info.version %] corresponding to git
commit L<[% commit.commit %]|[% info.repo %]/commit/[% commit.commit %]>
released on [% commit.date %].

=head1 DESCRIPTION

HTML::Make is an HTML generator. It generates HTML fragments, such as
HTML lists or tables, rather than complete HTML pages.

=head1 METHODS

=head2 add_attr

    $obj->add_attr (class => 'buggles');

Add attributes to C<$obj>. The following adds a class "beano" to the
"li" element:

[% example("li-class-beano") %]

This issues a warning of the form B<"Overwriting attribute 'class' for
'p'"> if the object already contains an attribute of the specified
type.

[% example("p-double-class") %]

This also issues a warning if the attribute is not valid for the tag,
according to L<HTML::Valid::Tagset/tag_attr_ok>. This is restricted to
what is valid in HTML5.

=head2 add_class

As a special case of L</add_attr>, HTML::Make allows you to add to the
class of the item with C<add_class>. This is added to the existing
classes of the element rather than overwriting them.

[% since('method','0.13') %]

=head2 add_comment

    $element->add_comment ('This should be fixed!');

Add an HTML comment to the element.

[% since('method','0.12') %]

=head2 add_text

    $element->add_text ('buggles');

Add text to C<$element>. For example,

    my $element = HTML::Make->new ('p');
    $element->add_text ('peanuts');
    print $element->text ();
    # <p>peanuts</p>

The text may contain HTML elements:

    my $element = HTML::Make->new ('p');
    $element->add_text ('peanuts <i>eggs</i>');
    print $element->text ();
    # <p>peanuts <i>eggs</i></p>

The return value is the added text object.

=head2 attr

    my $attr = $element->attr ();

This returns a hash reference, possibly empty, containing the
attributes of C<$element>.

=head2 children

    my $children = $obj->children ();

This returns an array reference, possibly empty, containing the child
elements of C<$obj>, in the order they were added to $obj.

=head2 multiply

    my @elements = $obj->multiply ('li', \@contents);

Given an HTML tag type as the first argument, and an array reference
as the second argument, this adds multiple child elements to C<$obj>
of type given by the first argument, with text contents given by
C<\@contents>.

[% hexample ("multiply") %]

=head2 new

    my $element = HTML::Make->new ('li');

Make a new HTML element of the specified type.

To add attributes to the element, use

    my $element = HTML::Make->new ('li', attr => {class => 'biglist'});

To add text,

    my $element = HTML::Make->new ('li', text => "White punks on dope");

Both attributes and text may be added:

    my $element = HTML::Make->new ('li', attr => {id => 'ok'}, text => 'OK');

HTML::Make checks the element against a list of known HTML tags from
L</HTML::Valid::Tagset>, and warns if the first argument is not on
this list. To switch off this behaviour and allow arbitrary tags, use
the C<nocheck> option:

[% example("nocheck") %]

=head3 Allowed options

The following options are allowed in C<new> and in L</push>:

=over

=item attr

    my $item = HTML::Make->new ('li', attr => {style => "color: #FFD"});

Any HTML tag attributes can be added as a hash reference.

=item class

    my $item = HTML::Make->new ('li', class => 'entry');

This is equivalent to C<< attr => {class => $class} >>. It is allowed
for any HTML element. See also L</add_class>.

[% since('option','0.13') %]

=item href

    my $link = HTML::Make->new ('a', href => 'http://www.example.com');

This is equivalent to C<< attr => {href => $url} >>. It is allowed
only for C<a> elements.

[% since('option','0.13') %]

=item id

    my $item = HTML::Make->new ('li', id => 'entry');

This is equivalent to C<< attr => {id => $id} >>. It is allowed for
any HTML element.

[% since('option','0.13') %]

=item text

    my $link = HTML::Make->new ('a', href => $url, text => "My cool website");

The text, the part between <a> and </a>.

See also L</add_text>.

=back

=head2 opening_tag

    my $tag = $obj->opening_tag ();

Returns the text value of the HTML tag opening, complete with
attributes. There is no "closing_tag" method, the module just prints
"</$tag>" within the L</text> method.

=head2 push

    my $child = $element->push ('tag');

Add child element of type <tag> to C<$element> and return the result
as a new C<HTML::Make> object. For example,

[% example("table") %]

It is also possible to push one HTML::Make object into another one.

    my $td = HTML::Make->new ('td');
    $tr->push ($td);

In this case, the return value is the initial element itself.

C<push> takes all of the same arguments as L</new>, for example:

[% hexample('link-example') %]

=head3 Making a colourful list

An object created with HTML::Make may also be pushed:

[% hexample('push-new') %]

See also L<Make a list of colours with
HTML::Make|https://www.lemoda.net/perl/colour-list/index.html>.

=head3 JSON to HTML

This script converts arbitrary JSON to HTML:

[% hexample("json-to-html") %]

See also L<Convert JSON to HTML with JSON::Parse and
HTML::Make|https://www.lemoda.net/perl/json-to-html/index.html>.

=head3 There are some ad-hoc guardrails

This warns if you add some types of elements to possibly inappropriate
parent elements. For example if you add an <li> tag to a <tr> it
reacts like this:

[% example("push-li-to-tr") %]

We've never received a single bug report for this module, and so these
warnings are mostly added in an ad-hoc fashion as we've found
ourselves making various mistakes. If you find yourself tripping over
some kind of error repeatedly, then feel free to ask us to add that to
this module.

=head2 text

    $element->text ();

This returns the element and its child elements as text, so usually
this is called at the final stage.

If C<$element>'s type is C<html>, a doctype declaration of the form
C<< <!DOCTYPE html> >> is added before the opening tag.

=head1 OUTPUT FORMAT

This section discusses the way that HTML is output by the module.

=head2 Whitespace

=over

=item Indentation

The output HTML is not indented.

=item New lines

New lines are added after block-level elements, according to L<HTML::Valid::Tagset/%isBlock>, and after <tr> elements.

=back

=head1 BUGS

This module assumes you want to make HTML5.

There is no way to control the whitespace in the output HTML such as
indentation.

This module assumes lower case HTML tags (HTML tags are actually
completely case insensitive, so <LI> or <A
HREF='http://www.example.com'> and so on are all valid.)

=head1 DEPENDENCIES

This module depends on the following Perl modules.

=over

=item Carp

L<Carp> is used to report errors.

=item HTML::Valid::Tagset

L<HTML::Valid::Tagset> is used to validate tags and tag/attribute pairs.

=item JSON::Parse

L<JSON::Parse> is used to read an information file about HTML tags and
attributes.

=back

=head1 SEE ALSO

=head2 CPAN modules

These are the other modules we've found on CPAN (one is only on
sourceforge) which generate HTML programmatically, rather than by
template substitution.

=over

=item L<CGI>

The CGI module contains HTML generation. See also
L<CGI::HTML::Functions>.

=item L<HTML::Builder>

=item L<HTML::Declare>

An HTML mini-language.

=item L<HTML::FromArrayref>

Output HTML described by a Perl data structure

=item L<HTML::Generator|http://cleancode.sourceforge.net/api/perl/HTML/Generator.html>

This project is on the SourceForge site, not CPAN.

=item L<HTML::HTML5::Builder>

"erect some scaffolding for your documents"

=item L<HTML::Native>

Generate and manipulate HTML as native Perl data structures

=item L<HTML::TagTree>

An HTML generator via a tree of 'tag' objects

=item L<HTML::Template>

An HTML-like templating language.

=item L<HTML::Tiny>

This is similar to the HTML generation which is in L<CGI>. Its last
update, version 1.05, was in 2009, and it doesn't include HTML5 tags.

=item L<HTML::Untidy>

=back

=head2 HTML validator

My L<HTML validator is on
github|https://github.com/benkasminbullock/html-validate>. This is in
the Go language, not in Perl.

[% INCLUDE "author" %]
